In [17]:
import pandas as pd
data={'Name':['gupta','panchal','shukla','patel'],'Age':[19,20,19,25]}
index=['Rank1','Rank2','Rank3','Rank4']
df=pd.DataFrame(data,index)
df

          Name  Age
Rank1    gupta   19
Rank2  panchal   20
Rank3   shukla   19
Rank4    patel   25

In [19]:
df['Course']=pd.Series(['Computer','IT','Civil','Auto'],index)
df

          Name  Age    Course
Rank1    gupta   19  Computer
Rank2  panchal   20        IT
Rank3   shukla   19     Civil
Rank4    patel   25      Auto

In [28]:
df[2:5]

         Name  Age Course
Rank3  shukla   19  Civil
Rank4   patel   25   Auto

In [27]:
df.loc['Rank3']

Name      shukla
Age           19
Course     Civil
Name: Rank3, dtype: object

In [29]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df=df.append(df2)
df

   a  b
0  1  2
1  3  4
0  5  6
1  7  8